.navtab{
    width:95%;
    /*height:1600px;*/
    border:1px dashed;
    margin:0 auto;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.left{
    display:flex;
    width:80%;
    flex-wrap:wrap-reverse;
    text-align:end;
    justify-content: space-evenly;
    align-items: center;

}
.right{
    display:flex;
    width: 80%;
    text-align: end;
    justify-content: space-evenly;
    align-items: center;

}
.container{
    width: 88%;
    height:100%;
    margin:0 auto;
    padding:10px;
    border:10px dashed;

}

.container img{
    height:100%;
    width:100%;
}

.main{
    position:relative;
    padding:0px;

}
.yazi{
    position:absolute;
    bottom:85px;
}
.baslik{
    position:absolute;
    bottom:240px;
}
.mini-logos{
    width: 88%;
    height:100%;
    margin:0 auto;
    padding:10px;
    border:10px dashed;
    border-color:red;
}
.internal-box{
    display:inline-block;
    align-items: center;
    text-align:end;

}
.outer-boxes{
    width: 88%;
    height:100%;
    padding:3%;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}
.boxes{
    width: 88%;
    height:100%;
    padding:10px;
    font-size:15px;
    font-family:Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    border-color:red;
    margin:0 auto;
    display: inline-block;
}
.boxes img{
    width: 100%;
    height:100%;
}
.but-yukari{
    position:absolute;
    bottom:60px;
    right:1060px;
}
/*img{
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
}*/
.internal-box img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
}
.second-container{
    width: 88%;
    height:80%;
    margin:0 auto;
    padding:5px;
    border:10px dashed;
}
.second-container img{
    width: 100%;
    height:100%;
}
.second-container p{
    position:absolute;
    bottom:450px;
    right:700px;
    top:100px;
    
}
.second-container h2{
    position:absolute;
    bottom:540px;
    right:440px;
    left:700px;
    top:50px;
    
}
.second-container button{
    position:absolute;
    bottom:490px;
    right:520px;
    left:500px;
    top:180px;
    
}